
listener "tcp" {
  address = "0.0.0.0:8200",
{% if vault_ssl %}
  tls_cert_file = "{{ vault_ssl_cert }}"
  tls_key_file  = "{{ vault_ssl_key }}"
{% else %}
  tls_disable = 1
{% endif %}
}
 
ui = true

storage "file" {
  path = "{{ vault_data_path }}"
}
