<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <meta name="description" content="Fadalax SSO">
    <meta name="author" content="Fadalax">
    <meta name="theme-color" content="#ffffff">

    <!-- Bootstrap CSS
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/styles.css"> -->
</head>

<body>

<div class="container">
    <div class="page-header">
        <h1>fadalax SSO</h1>
        <p>Do you consent to your user name beeing provided to iMovies certificate authority?</p>
    </div>
    <form method="post">
        <!-- TODO    {{ .csrfField }}-->
        <input type="submit" class="btn btn-primary" value="Consent" class="button"/>
    </form>


</div>

</body>

</html>
